extends layout

block content

  script.
    $(function(){
      $('#image_slider').carousel();
      $('.carousel-inner .active').find('img').each(function(){
        var imgClass = (this.width/this.height > 1) ? 'wide' : 'tall';
        $(this).addClass(imgClass);
      })
    });

  include navbar.jade

  div.container-fluid
    div.row.home-content-row
      #about_us.col-md-10.home-content-block 
        h2 About Us
        p Some content here....
        br
        br
        br
        br
        br
      #desserts.col-md-10.home-content-block
        h2 Desserts
        p Some content here..........
        br
        br
        br
        br
        br
      #order.col-md-10.home-content-block
        h2 Place an Order
        p Some content here..........
        br
        br
        br
        br
