body { 
  background: url('/images/meh3222_cropped.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  background-color: #303030;
}

.navbar .container-fluid a{
  color: white !important;
}

.navbar .container-fluid li .active{
  background-color: #707070 ;
}

.navbar-fixed-top{
  background-color: rgba(0,0,0,0.9);
  border-width: 0px 0px 0px 0px;
}
/*
.carousel-inner .item {
    width: 40%;
    height: 40%;
    background: #444;
    margin: 0 auto;
}
.carousel-inner .active img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.carousel-inner .active img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}​
*/
.home-content-block{
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  /*width: 100%;*/
}

.home-content-row{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:center;
  background-color:rgba(0,0,0,0.95);
}

.home-content{
  margin-top: 300px;
}

#footer{
  margin-bottom: 0px;
}

.content{
  padding: 15px;
}

.full-row{
  margin-right: 10%;
  margin-left: 10%;
}

#carousel{
  max-width: 640px;
  max-height: 360px;
}

.dessert-row{
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  display: block;
  cursor:pointer;
}

.dessert-expanded-column{
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}

.dessert-row:hover {
  background-color: #696969;
}

.dessert-row-bottom{
  background-color:rgba(51,51,51,0.95);
}

#desserts-header {
  margin-bottom: 10px;
}

#desserts-header h2, form { 
  display:inline; 
}

#desserts-header form { 
  margin-left: 20%;
}

.hidden-column{
  display: none;
}